<template>
    <div class="students-container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <h5>All Students</h5>
            </div>
            <div class="col-md-3">
                <button class="btn-primary" @click="dialogVisible = true">Create New Student</button>
            </div>
        </div>
        <div class="students-table col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <th>Admission Number</th><th>Student Name</th><th>Age</th><th>Gender</th>
                </thead>
                <tbody>
                    <tr v-for="data in allStudents">
                        <td>{{data.admission_number}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.gender}}</td>
                        <td><button class="btn-primary" @click="editStudent(data.admission_number)">
                            <i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                        <td><button class="btn-primary" @click="deleteStudent(data.admission_number)">
                            <i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="student-create-form">
            <el-dialog
                    title="Add New Student"
                    :visible.sync="dialogVisible"
                    width="50%">
                <el-form ref="student" :model="student" label-width="120px">
                    <el-form-item label="Admission Number">
                        <el-input v-model="student.admission_number"></el-input>
                    </el-form-item>
                    <el-form-item label="Student Name">
                        <el-input v-model="student.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Student Age">
                        <el-input-number v-model="student.age" :min="1" :max="30"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Gender">
                        <el-select v-model="student.gender" placeholder="Please select gender">
                            <el-option label="Male" value="male"></el-option>
                            <el-option label="Female" value="female"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="createStudent">Create</el-button>
                        <el-button>Cancel</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>
        <div class="student-edit-form">
            <el-dialog
                    title="Edit Student"
                    :visible.sync="editDialogVisible"
                    width="50%">
                <el-form ref="student" :model="editDetails" label-width="120px">
                    <el-form-item label="Admission Number">
                        <el-input v-model="editDetails.admission_number"></el-input>
                    </el-form-item>
                    <el-form-item label="Student Name">
                        <el-input v-model="editDetails.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Student Age">
                        <el-input-number v-model="editDetails.age" :min="1" :max="30"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Gender">
                        <el-select v-model="editDetails.gender" placeholder="Please select gender">
                            <el-option label="Male" value="male"></el-option>
                            <el-option label="Female" value="female"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="updateStudent()">Update</el-button>
                        <el-button>Cancel</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                dialogVisible: false,
                editDialogVisible: false,
                student: {
                    admission_number: '',
                    name: '',
                    age: '',
                    gender: ''
                },
                editDetails: {},
                allStudents: [],
                storeRoute: '/student/store',
                getAllStudentsRoute: '/student/all',
                getOneStudentRoute: '/student',
                updateStudentRoute: '/student/update'
            }
        },
        methods: {
            createStudent: function () {
                axios.post(this.storeRoute, this.student).then(response => {
                    let message = response.data.message;
                    this.dialogVisible = false;
                    this.$message({
                        message: message,
                        type: 'success'
                    });
                    this.getAllStudents();
                }).catch(error => {
                    console.log(error);
                });
            },

            getAllStudents: function () {
                axios.get(this.getAllStudentsRoute).then(response => {
                    this.allStudents = response.data;
                }).catch(error => {
                    console.log(error);
                });
            },

            editStudent: function (admission_number) {
                axios.get(this.getOneStudentRoute + '/'+ admission_number).then(response => {
                    if(response.data.length) {
                        this.editDetails= response.data[0];
                        this.editDialogVisible = true;
                    }
                }).catch(error => {
                    console.log(error);
                });
            },

            updateStudent: function () {
                axios.post(this.updateStudentRoute, this.editDetails).then(response => {
                    if(response.status == 200){
                        this.editDialogVisible = false;
                        this.$message({
                            message: response.data.message,
                            type: 'success'
                        });
                    }
                    this.getAllStudents();
                }).catch(error => {
                    console.log(error);
                })
            },

            deleteStudent: function (admission_number) {
                axios.get('/student/'+admission_number+'/delete').then(response => {
                    if(response.status == 200){
                        this.$message({
                            message: response.data.message,
                            type: 'success'
                        });
                    }
                    this.getAllStudents();
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        mounted: function () {
            this.getAllStudents();
        }
    }
</script>

<style scoped>
.students-container{
    margin: 5%;
}
</style>