@(student: Form[CreateStudentForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}
@main("Home Page") {
    <div class="">
        <students></students>
    </div>
}